WebReferans/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LabtestlerOku">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LabID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LabtestlerOkuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LabtestlerOkuResult" type="tns:ArrayOfLabTest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLabTest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LabTest" nillable="true" type="tns:LabTest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LabTest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LabID" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LabtestlerOkuSoapIn">
    <wsdl:part name="parameters" element="tns:LabtestlerOku" />
  </wsdl:message>
  <wsdl:message name="LabtestlerOkuSoapOut">
    <wsdl:part name="parameters" element="tns:LabtestlerOkuResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="LabtestlerOku">
      <wsdl:input message="tns:LabtestlerOkuSoapIn" />
      <wsdl:output message="tns:LabtestlerOkuSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LabtestlerOku">
      <soap:operation soapAction="http://tempuri.org/LabtestlerOku" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LabtestlerOku">
      <soap12:operation soapAction="http://tempuri.org/LabtestlerOku" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://213.159.30.6/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://213.159.30.6/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>